.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 100px;
}

.container iframe {
  width: 100%;
  min-height: 600px;
  border: none;
}
@media (max-width: 500px) {
  .container iframe {
    width: fit-content;
    height: auto;
    border: none;
  }
}
